.ticker-wrap {
    background-color: var(--color-primary);
    color: white;
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.ticker-label {
    background-color: var(--color-darker);
    color: var(--color-accent);
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: var(--font-heading);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
    position: absolute;
    left: 0;
}

.ticker-content {
    display: flex;
    animation: ticker 50s linear infinite;
    white-space: nowrap;
    padding-left: 150px;
}

.ticker-item {
    margin-right: 50px;
    font-family: var(--font-heading);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.ticker-item span {
    color: var(--color-darker);
    margin-right: 10px;
    font-weight: 900;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}